---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<!-- <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p> -->
                            <img src='assets/img/text_logo.png'>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<!-- <p style="font-size:1rem;font-weight:300">{{ site.bio }} -->
                            
                                
			            </a></br><!-- <iframe style="border: 0; width: 300px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/track=3884613767/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://taghkanic.bandcamp.com/track/nothing-like">nothing like by Taghkanic</a></iframe> -->
                        <!-- <iframe style="border: 0; width: 300px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/track=2568530103/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://taghkanic.bandcamp.com/track/waiting">Waiting by Taghkanic</a></iframe> -->
                        <iframe style="border: 0; width: 300px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/track=3010847842/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://taghkanic.bandcamp.com/track/call-your">Call Your by Taghkanic</a></iframe>
		        </br>
                        </br>
                        
                    </h3>
                    {% include social-links.html %}
                    </br>
                    <center>
	</center></p>
                    
                        </p>
                    
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                        <!--  <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>-->
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a> 
                     </br>
                     <p style="font-size:1rem;font-weight:300" align="center">
                    
                </br> 
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
